<html>
  <head>
    <title>
        Essence Chat | Create
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/styles.css' rel='stylesheet' type='text/css'>
    <p class='start'>This is your first time running Essence</p>
    <p class='start'>Please enter a password. Do NOT forget this password.</p>
    <p class='start'>It is not stored anywhere. Only you know it.</p>
    <p class='start'>It will be used to decrypt your private key everytime you open Essence</p>
    <p class='start'>Enter a STRONG password:</p>
  <head>
  <body>
    <form method='post' class='form' action='/create'>
        <input type='text' name='password' class='username' placeholder='Password'/><br/>
        <input type='text' name='confirm-password' class='password' placeholder='Confirm Password'/><br/>
        <input type='submit' value='Enter' name='submit' class='Button'/>
    </form>
  </body>
  <div class='footer'>
    <p class='end'>&copy; Slick Designs</p>  
  </div>

