<html>
  <head>
    <title>
        Essence Chat | Login
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/styles.css' rel='stylesheet' type='text/css'>
    <p class='start'>An encrypted account has been found within Essence</p><br>
    <p class='start'>Publickey: Ex{{pubkey}}</p><br>
    <p class='start'>Please Enter the password to unlock the account</p>
  <head>
  <body>
    <form method='post' class='form' action='/login'>
        <input type='text' name='password' class='username' placeholder='Password'/><br/>
        <input type='submit' value='Enter' name='submit' class='Button'/>
    </form>
  </body>
  <div class='footer'>
    <p class='end'>&copy; Slick Designs</p>  
  </div>

