<html>
  <head>
    <title>
        Essence Chat | Error
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/styles.css' rel='stylesheet' type='text/css'>
    <p class='start'>Problem: {{ problem }}</p><br><br>
    <p class='start'>Chances are you did something wrong. This application may not be suitable for you.</p><br>
    <p class='start'>-Possible reasons for this-</p><br>
    <p class='start'>--Your password is shorter than 7 characters (You should uninstall this immediately)</p><br>
    <p class='start'>--Incorrect decryption password entered (Hacker alert...)</p><br>
    <p class='start'>--Any other error maybe due to the network, please check the terminal/console</p><br>
  <head>
  <body>
  </body>
  <div class='footer'>
    <p class='end'>&copy; Slick Designs</p>  
  </div>

