 <html>

<title>Intangere</title>

<link rel="stylesheet" type="text/css" href="styles.css">

<div style="width: 100%; background-color: #1C1C1C; position: absolute; top: 0; left: 0;">
	<font color='#ffffff'>
		<div class="table">
    		<div class="tr">
        		<div class="d1">&nbsp;&nbsp;&nbsp;<img src= "images/logo.png" width="30" height="40"></div>
        		<div class="d2"><h1>Intangere</h1></div>
        		<div class="d3"><a href="/">Home</a>
        			&nbsp;<a href="login.html">Login</a>
        			&nbsp;<a href="paste.html">Paste</a>
        			&nbsp;<a href="email.html">e-mail</a>
        		</div>
    		</div>
    	</div>
	</font>
</div>
<body bgcolor="#2E2E2E">
	<center>
		<div class="content">
			<div class="container">
				{{result[0]}}
				You can view it at <a href="{{result[1]}}">this link.</a>
			</div>
		</div>
	</center>
</body>